.footer-record-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px -5px 0px -5px;
}

.footer-record-entry {
  margin: 0 25px;
  text-align: center;
}

.footer-record-image {
  width: 16px;
  height: auto;
  margin-right: 5px;
  margin-bottom: -3px;
}

.footer-record-link {
  color: white;
  text-decoration: none;
}